{% extends 'base.html.twig' %}

{% block title %}Modifier l'Annonce{% endblock %}

{% block main %}
    <div class="section-back-link">
        <a href="{{ path('app_product_show', { id: product.id }) }}" class="back-link">← Retour à l’objet</a>
    </div>

    <div class="form-container">
        <h1 class="form-title">Modifier l'Annonce</h1>

        {{ include('product/_form.html.twig', {'form': form, 'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
